<div class="delete-form">
  <h2 appBigtitle>Eliminar Curso</h2>

  <form [formGroup]="courseForm" (ngSubmit)="onDelete()">

    <div class="form-group">
      <label for="code">Código:</label>
      <input type="text" id="code" formControlName="code" placeholder="Ingrese el código del curso">
      <div *ngIf="courseForm.get('code')?.touched && courseForm.get('code')?.invalid" class="error">
        <div *ngIf="courseForm.get('code')?.errors?.['required']">El código es obligatorio.</div>
        <div *ngIf="courseForm.get('code')?.errors?.['minlength'] || courseForm.get('code')?.errors?.['maxlength']">
          El código debe tener entre 3 y 6 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="descripcion">Motivo de la baja:</label>
      <input type="text" id="descripcion" formControlName="descripcion" placeholder="Motivo de la baja">
      <div *ngIf="courseForm.get('descripcion')?.invalid && courseForm.get('descripcion')?.touched" class="error">
        El motivo es obligatorio.
      </div>
    </div>

    <button [disabled]="courseForm.invalid" type="submit" class="boton-borrar">Eliminar Curso</button>

    <a [routerLink]="['/', routes.Cursos]" class="boton-volver">Volver a la lista</a>
  </form>
</div>