<div class="delete-form">
  <h2 appBigtitle>Eliminar Curso</h2>

  <form [formGroup]="courseForm" (ngSubmit)="onDelete()" class="form">
    <mat-form-field appearance="fill">
      <mat-label>Seleccionar Curso</mat-label>
      <mat-select formControlName="code">
        <mat-option *ngFor="let curso of courses$ | async" [value]="curso.code">
          {{ curso.name }} ({{ curso.code }})
        </mat-option>
      </mat-select>
      <mat-error *ngIf="courseForm.get('code')?.hasError('required')">
        Debe seleccionar un curso
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Motivo de la baja</mat-label>
      <textarea matInput formControlName="descripcion" placeholder="Describa el motivo de la baja"></textarea>
      <mat-error *ngIf="courseForm.get('descripcion')?.invalid">
        {{courseForm.get('descripcion')?.hasError('required') ? 'El motivo es obligatorio' :
        courseForm.get('descripcion')?.hasError('minlength') ? 'Mínimo 10 caracteres' :
        'Máximo 50 caracteres'}}
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="warn" type="submit" [disabled]="courseForm.invalid || (loading$ | async)">
        {{(loading$ | async) ? 'Eliminando...' : 'Eliminar Curso'}}
      </button>

      <a mat-stroked-button [routerLink]="['/', routes.Cursos]">
        Volver a la lista
      </a>
    </div>
  </form>
</div>