<div class="delete-form">
  <h2 appBigtitle>Eliminar Curso</h2>

  <form [formGroup]="courseForm" (ngSubmit)="onDelete()">

    <div class="form-group">
      <label for="code">Código:</label>
      <input type="text" id="code" formControlName="code" placeholder="Ingrese el código del curso">
      <div *ngIf="courseForm.get('code')?.touched && courseForm.get('code')?.invalid" class="error">
        <div *ngIf="courseForm.get('code')?.errors?.['required']">El código es obligatorio.</div>
        <div *ngIf="courseForm.get('code')?.errors?.['pattern']">
          El código debe tener el formato "XX000" (dos letras mayúsculas y tres números).
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="descripcion">Motivo de la baja:</label>
      <input type="text" id="descripcion" formControlName="descripcion" placeholder="Motivo de la baja">
      <div *ngIf="courseForm.get('descripcion')?.invalid && courseForm.get('descripcion')?.touched" class="error">
        <div *ngIf="courseForm.get('descripcion')?.errors?.['required']">El motivo es obligatorio.</div>
        <div *ngIf="courseForm.get('descripcion')?.errors?.['minlength']">El motivo debe tener al menos 10 caracteres.
        </div>
        <div *ngIf="courseForm.get('descripcion')?.errors?.['maxlength']">El motivo no puede exceder los 50 caracteres.
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="courseForm.invalid || loading" class="boton-borrar">
      <ng-container *ngIf="!loading">Eliminar Curso</ng-container>
      <div *ngIf="loading" class="spinner-border spinner-border-sm text-light" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </button>

    <a [routerLink]="['/', routes.Cursos]" class="boton-volver">Volver a la lista</a>
  </form>
</div>