<header>
  <nav>
    <div class="navbar">
      <h2 appBigtitle>A dónde querés ir?</h2>
      <ul>
        <li><a [routerLink]="[AppRoutes.Home]">Home</a></li>
        
        <!-- Login solo si NO está logueado (ahora con color verde) -->
        <li *ngIf="!(user$ | async)">
          <a [routerLink]="[AppRoutes.Login]" class="login-btn">Login</a>
        </li>
        
        <!-- Logout solo si está logueado (ahora con color rojo) -->
        <li *ngIf="(user$ | async)">
          <a (click)="logout()" class="logout-btn">Logout</a>
        </li>
        
        <li><a [routerLink]="[AppRoutes.Alumnos]">Ver lista de estudiantes</a></li>
        <li><a [routerLink]="[AppRoutes.Cursos]">Ver lista de cursos</a></li>
        <li><a [routerLink]="[AppRoutes.Inscripciones]">Ver lista de inscripciones</a></li>
        
        <!-- Este routerLink solo se muestra si el usuario logueado es administrador! -->
        <li *ngIf="isAdmin$ | async">
          <a [routerLink]="[AppRoutes.Usuarios]">Ver lista de usuarios</a>
        </li>
      </ul>
    </div>
  </nav>
</header>