<div class="delete-form">
    <h2 appBigtitle>Eliminar Estudiante</h2>

    <form [formGroup]="studentForm" (ngSubmit)="onDelete()">

        <div class="form-group">
            <label for="dni">DNI:</label>
            <input type="number" id="dni" formControlName="dni" min="0" step="1">
            <div *ngIf="studentForm.get('dni')?.touched && studentForm.get('dni')?.invalid" class="error">
                <div *ngIf="studentForm.get('dni')?.errors?.['required']">
                    Ingresar el número de DNI es obligatorio.
                </div>
                <div *ngIf="studentForm.get('dni')?.errors?.['pattern']">
                    El DNI debe tener entre 7 y 8 dígitos y no puede comenzar con 0.
                </div>
            </div>
        </div>

        <ng-template #noStudent>
            <div class="error">No hay un estudiante anotado con ese DNI</div>
        </ng-template>

        <div class="form-group">
            <label for="descripcion">Motivo de la baja:</label>
            <input type="text" id="descripcion" formControlName="descripcion">
            <div *ngIf="studentForm.get('descripcion')?.invalid && studentForm.get('descripcion')?.touched"
                class="error">
                Ingresar el motivo por el cual se da de baja es requerido
            </div>
        </div>

        <button [disabled]="studentForm.invalid" type="submit" class="boton-borrar">Eliminar Estudiante</button>
    </form>