<app-home></app-home>

<app-perfil-usuario></app-perfil-usuario>

<!-- Usamos el ngFor para renderizar tantos elementos en la lista como tenga el array que viene del archivo TypeScript -->
<div>
    <ol>
        <li *ngFor="let nombre of listaDeNombres">
            {{ nombre }}
        </li>
    </ol>
</div>

<!-- Usamos el ngClass para asignar clases dinámicamente -->
<div>
    <p [ngClass]="{'active': active, 'notActive': !active}">Este texto cambia de color según si la clase está activa o
        no
    </p>
</div>

<!-- Usamos un pipe para mostrar la fecha como queremos -->
<div>
    <p>
        {{ texto | uppercase }}
    </p>
</div>

<!-- Acá practico el tema de @Input y @Output (decoradores) -->
<app-hijo [dato]="mensaje" (notificarAlPadre)="respuestaDelPadre($event)"></app-hijo>
<p *ngIf="respuesta">{{ respuesta }}</p>

<!-- Actividad de la diapositiva para lista de empleados -->
<div>
    <input [(ngModel)]="nuevoEmpleado" placeholder="Nuevo empleado" />
    <button (click)="agregarEmpleado()">Agregar empleado</button>
    <ol>
        <li *ngFor="let empleado of empleados; let i = index">
            <app-empleado-item 
            [empleado]="empleado"
            [indice]="i"
            (editarEmpleado)="actualizarEmpleados($event.indice, $event.nuevoNombre)"
            >
            </app-empleado-item>
        </li>
    </ol>
</div>

<!-- Practicamos los formularios reactivos -->
 <app-formulario></app-formulario>