<div class="delete-form">
    <h2 appBigtitle>Eliminar Estudiante</h2>

    <form [formGroup]="studentForm" (ngSubmit)="onDelete()" class="form">
        <mat-form-field appearance="fill">
            <mat-label>Seleccionar Estudiante</mat-label>
            <mat-select formControlName="dni">
                <mat-option *ngFor="let student of students$ | async" [value]="student.dni">
                    {{ student.name }} {{ student.surname }} (DNI: {{ student.dni }})
                </mat-option>
            </mat-select>
            <mat-error *ngIf="studentForm.get('dni')?.hasError('required')">
                Debe seleccionar un estudiante
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Motivo de la baja</mat-label>
            <textarea matInput formControlName="descripcion" placeholder="Describa el motivo de la baja"></textarea>
            <mat-error *ngIf="studentForm.get('descripcion')?.invalid">
                {{studentForm.get('descripcion')?.hasError('required') ? 'El motivo es obligatorio' :
                studentForm.get('descripcion')?.hasError('minlength') ? 'Mínimo 10 caracteres' :
                'Máximo 50 caracteres'}}
            </mat-error>
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button color="warn" type="submit" [disabled]="studentForm.invalid || (loading$ | async)">
                {{(loading$ | async) ? 'Eliminando...' : 'Eliminar Estudiante'}}
            </button>

            <a mat-stroked-button [routerLink]="['/', routes.Alumnos]">
                Volver a la lista
            </a>
        </div>
    </form>
</div>